#title {
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(47, 53, 53);
}

#left-side {
    background-color: lightgray;
    padding: 20px 30px 20px 30px;
}

#search-result {
    white-space: pre-wrap;
    border: 1px solid gray;
    padding: 30px 20px 30px 20px;
}